attrs==20.2.0
blinker==1.4
click==7.1.2
Flask==1.1.2
importlib-metadata==2.0.0
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
-e git+https://github.com/perfectpanda-works/panda-flask.git@747b4559d6ad8281b2f6e8191097eb9bfd876501#egg=min_app
more-itertools==8.5.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.0.2
six==1.15.0
toml==0.10.1
Werkzeug==1.0.1
zipp==3.2.0
